.footer
    ul
        li(data-nav="home") Home
        li(data-nav="services") Our Services
        li(data-nav="project") Completed Projects
        li(data-nav="testim") Testimonials
        li(data-nav="contact") Contact
    p Developed By Hesham