<nav class="navbar navbar-expand-lg navbar-light home">
  div.container  
    div.logo
      span.icon
        img(class="logo2" src="img/Polygon1-copy.png" alt="logo2")
        img(class="logo1" src="img/Polygon1.png" alt="logo1")
      <a class="navbar-brand" href="#">
        h2 
          span Mark
          <br>
            span Construction
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"><span>Home</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-nav="services"><span>Services</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-nav="project"><span>Projects</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-nav="testim"><span>Testimonials</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-nav="contact"><span>Contact</span></a>
        </li>
      </ul>
    </div>
</nav>