
meta(charset='UTF-8')
meta(name='description' content='using pug, gulp, sass, and so many')
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
title mark const.
link(rel='stylesheet' href='style/bootstrap.min.css')
link(rel='stylesheet' href='style/owl.carousel.min.css')
link(rel='stylesheet' href='style/owl.theme.default.min.css')
link(rel='stylesheet' href='style/all.min.css')
link(href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@600&display=swap" rel="stylesheet")
