doctype html
html(lang='en')
    head
        include pugs/style/head.pug 
        link(rel='stylesheet' href='style/main.css')
    body
        // add navbar

        include pugs/layout/navbar

        // start header

        div(class="header")
            img(class="layer1" src="img/layer 1.png" alt="layer1")
            img(class="layer2" src="img/layer 2.png" alt="layer2")
            .container
                p= 'Fastest growing and most admired Commercial Construction & infrastructure company.'
                button: span Get a Quote

        // end header

        // start services

        .services
            .container
                <div class="card-group">
                    .row
                        div(class="col-sm-12 col-md-4")
                            <div class="card">
                                <div class="image">
                                    .overlay
                                        span
                                            <i class="fas fa-tasks fa-lg"></i>
                                            |  75 project
                                    <img class="card-img-top" src="img/services1.png" alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Buildings Construction</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmod tempor incididunt ut labore et dolore magna morbi Lorem ipsum dolor sit amet, consectetur adipiscing eliturna. Lorem . Pharetra convallis </p>
                                </div>
                            </div>
                        div(class="col-sm-12 col-md-4")
                            <div class="card top">
                                <div class="image">
                                    .overlay
                                        span
                                            <i class="fas fa-tasks fa-lg"></i>
                                            |  128 project
                                    <img class="card-img-top" src="img/services2.png" alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Home Renovations</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmod tempor incididunt ut labore et dolore magna morbi Lorem ipsum dolor sit amet, consectetur adipiscing eliturna. Lorem . Pharetra convallis </p>
                                </div>
                            </div>
                        div(class="col-sm-12 col-md-4")
                            <div class="card">
                                <div class="image">
                                    .overlay
                                        span
                                            <i class="fas fa-tasks fa-lg"></i>
                                            |  119 project
                                    <img class="card-img-top" src="img/services3.png" alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Interior Designing</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmod tempor incididunt ut labore et dolore magna morbi Lorem ipsum dolor sit amet, consectetur adipiscing eliturna. Lorem . Pharetra convallis </p>
                                </div>
                            </div>
                </div>

        // end services

        // start about us

        .about
            .container
                .first
                    h2 Who we are and what we do!
                    .row
                        div(class="col-sm-12 col-md-6")
                            p Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmod tempor incididunt ut labore et dolore magna morbi Lorem ipsum dolor sit amet, consectetur adipiscing eliturna. Lorem . Pharetra convallis morbi Lorem ipsum dolor sit amet, consectetur adipiscing eliturna. Lorem morbi Lorem dolor sit amet, consectetur eliturna. Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmorbi Lorem ipsum dolor sit amet, consectetur adipiscing eliturna. Lorem t 
                        div(class="col-sm-12 col-md-6")
                            p Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmod tempor incididunt ut labore et dolore magna morbi Lorem ipsum dolor sit amet, consectetur adipiscing eliturna. Lorem . Pharetra convallis morbi Lorem ipsum dolor sit amet, consectetur adipiscing eliturna. Lorem morbi Lorem dolor sit amet, consectetur eliturna. Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmorbi Lorem ipsum dolor sit amet, consectetur adipiscing eliturna. Lorem t labore et dolore magna aliqua.Pharetra convallis posuere morbi Lorem ipsum dolor sit amet, consectetur adipiscing 
                .second
                    .row
                        div(class="col-sm-12 col-md-6")
                            h3
                                span
                                    img(src="img/Polygon 4.png" alt="plygon" class="pol1")
                                    img(src="img/Polygon 3.png" alt="plygon" class="pol2")
                                | 50+ Years Experienced
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmod tempor incididunt ut labore et dolore magna morbi Lorem ipsum dolor sit amet, consectetur adipiscing eliturna. Lorem . Pharetra convallis morbi Lorem ipsum dolor sit amet, consectetur adipiscing eliturna. Lorem morbi Lorem dolor sit amet, consectetur eliturna. Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmorbi Lorem ipsum dolor sit amet, consectetur adipiscing eliturna. Lorem t labore et dolore magna aliqua.
                            button Read More

                        div(class="col-sm-12 col-md-6")
                            h3
                                span
                                    img(src="img/Polygon 4.png" alt="plygon" class="pol1")
                                    img(src="img/Polygon 3.png" alt="plygon" class="pol2")
                                | Creative and Powerful
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmod tempor incididunt ut labore et dolore magna morbi Lorem ipsum dolor sit amet, consectetur adipiscing eliturna. Lorem . Pharetra convallis morbi Lorem ipsum dolor sit amet, consectetur adipiscing eliturna. Lorem morbi Lorem dolor sit amet, consectetur eliturna. Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmorbi Lorem ipsum dolor sit amet, consectetur adipiscing eliturna. Lorem t labore et dolore magna aliqua.
                            button Read More

                        div(class="col-sm-12 col-md-6")
                            h3
                                span
                                    img(src="img/Polygon 4.png" alt="plygon" class="pol1")
                                    img(src="img/Polygon 3.png" alt="plygon" class="pol2")
                                | Honest &amp; Dependable
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmod tempor incididunt ut labore et dolore magna morbi Lorem ipsum dolor sit amet, consectetur adipiscing eliturna. Lorem . Pharetra convallis morbi Lorem ipsum dolor sit amet, consectetur adipiscing eliturna. Lorem morbi Lorem dolor sit amet, consectetur eliturna. Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmorbi Lorem ipsum dolor sit amet, consectetur adipiscing eliturna. Lorem t labore et dolore magna aliqua.
                            button Read More

                        div(class="col-sm-12 col-md-6")
                            h3
                                span
                                    img(src="img/Polygon 4.png" alt="plygon" class="pol1")
                                    img(src="img/Polygon 3.png" alt="plygon" class="pol2")
                                | Financial Consulting
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmod tempor incididunt ut labore et dolore magna morbi Lorem ipsum dolor sit amet, consectetur adipiscing eliturna. Lorem . Pharetra convallis morbi Lorem ipsum dolor sit amet, consectetur adipiscing eliturna. Lorem morbi Lorem dolor sit amet, consectetur eliturna. Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmorbi Lorem ipsum dolor sit amet, consectetur adipiscing eliturna. Lorem t labore et dolore magna aliqua.
                            button Read More

        // end about us

        // start project

        .project
            img(src="img/shape 1.png" alt='background')
            .container
                h2 Featured Projects
                div.arrow
                    span.left
                        <i class="fas fa-arrow-left fa-2x"></i>
                    span.right
                        <i class="fas fa-arrow-right fa-2x"></i>
                .row
                    div(class="owl-carousel owl-theme")
                        div(class="col-md-3")
                            .image2
                                img(src="img/build1.png")
                        div(class="col-md-3")
                            .image2
                                img(src="img/build2.png")
                        div(class="col-md-3")
                            .image2
                                img(src="img/build3.png")
                        div(class="col-md-3")
                            .image2
                                img(src="img/build4.png")
                        div(class="col-md-3 hidden")
                            .image2
                                img(src="img/build5.jpg")
                        div(class="col-md-3 hidden")
                            .image2
                                img(src="img/build6.jpg")
                        div(class="col-md-3 hidden")
                            .image2
                                img(src="img/build7.jpg")
                button.show Show More


        //end project

        // start testim

        .testim
            .container
                h2 Client Testimonials
                .row
                    div(class="col-sm-12 col-md-4")
                        q Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmod tempor incididunt ut labore et sit amet, adipiscing eliturna. Lorem Pharetra convallis morbi Lorem...
                        p Andrew Mathews
                        span Sydney, Australia
                    div(class="col-sm-12 col-md-4")
                        q Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmod tempor incididunt ut labore et sit amet, adipiscing eliturna. Lorem Pharetra convallis morbi Lorem...
                        p Harisson Ford
                        span Manchester, Moroco
                    div(class="col-sm-12 col-md-4")
                        q Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmod tempor incididunt ut labore et sit amet, adipiscing eliturna. Lorem Pharetra convallis morbi Lorem...
                        p Sussane Mike
                        span United States of America

        // end testim

        // start lets talk

        .talk
            .container
                h2.h1 Got a Project?
                    br/ Lets talk and make it possible!
                p 
                    | Aorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmod tempor incididunt ut labore et sit amet, adipiscing eliturna. Lorem Pharetra convallis morbi Lorem.
                button: span Get a Quote

        //end lets talk

        // start contact

        .contact
            .container
                h2 Contact
                .row
                    div(class="col-sm-12 col-md-6")
                        form(action="" method="post")
                            input(type="text" name="name" placeholder="Your Name")
                            input(type="email" name="email" placeholder="Your Email")
                            input(type="text" name="phone" placeholder="Your Phone No.")
                            input(type="text" name="subject" placeholder="Subject")
                            textarea(placeholder="Your Message")
                            input(type="submit" value="Contact Us")
                    div(class="col-sm-12 col-md-6")
                        .clogo
                            div.logo
                                img(class="logo2" src="img/Polygon 1 copy.png" alt="logo2")
                                img(class="logo1" src="img/Polygon 1.png" alt="logo1")
                            h2 
                                span Mark
                                br/ Construction
                        p.lorem 
                            | Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmod tempor incididunt ut labore et dolore magna morbi Lorem ipsum dolor sit amet, consectetur
                        p.address
                            | 123 Street, City, State 45678, Phone 1234 56 7890
                            br/ info@websiteconst.com  /
                            a(href="") websiteconst.com
                        .social
                            <i class="fab fa-facebook-square fa-2x"></i>
                            <i class="fab fa-twitter-square fa-2x"></i>
                            <i class="fab fa-linkedin fa-2x"></i>
                            <i class="fab fa-pinterest-square fa-2x"></i>
                            <i class="fab fa-google-plus-square fa-2x"></i>
                            <i class="fab fa-instagram fa-2x"></i>
            img(class="layer3" src="img/layer 10.png" alt="home")

        // end contact

        // start footer

        include pugs/layout/footer

        // end footer


        include pugs/style/script.pug

